body {
    text-align: center;
}

img {
    width: 100%;
}

header {
    background-color: #70a33d;
}

.menu {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.menu li {
    display: inline-block;
    font-size: 150%;
    text-decoration: none;
    color: white;
}

.menu p {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    padding: 0px;
    font-size: 150%;
    color: white;
}

.div_space {
    width: 100%;
    height: 50px;
    display: block;
    background: linear-gradient(to bottom, #70a33d, #008080);
    margin-bottom: 10px;
    color: white;
}

.div_opened {
    cursor: pointer;
    display: inline-block;
}

.div_opened :hover {
    color: #4f99ff;
}

.div_opened a {
    margin: 5px;
    font-size: 135%;
}

.div_profile {
    position: absolute;
    z-index: 1;
    top: -10px;
    display: inline-block;
    width: 200px;
    padding: 17px;
    padding-top: 40px;
    background-color: white;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    animation: float 3s ease-in-out infinite;
}

.images{
    position: relative;
    display: inline-block;
}

.images img{
    width: 100%;
    display: block;
}

.images button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(50, 44, 44, 0.6);
    color:  #70a33d;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 90px;
}

.button-left{
    left: 0%;
}

.button-right{
    right: 0%;
}

.span {
    display: inline-block;
    width: 500px;
    font-size: 140%;
}

.span h2 {
    color: #008080;
}

.span a {
    color: black;
}

.span a:hover {
    color: rgb(0, 191, 191);
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}